.equipment {
    padding-bottom: 56px;
}

.equipContentstitle {
      overflow : hidden;
    text-align : center;
         width : 900px;
   padding-top : 0px;
        border : 1px solid #ddd;
      position : relative;
 border-radius : 40px;
        margin : auto;
        margin-top: 50px;
        margin-bottom: 100px;

    h3 {
          font-size : 35px;
        line-height : 40px;
            color : #000;
        font-weight : bold;
    }

    .select_value {
        position: absolute;
        top    : 0;
        bottom : 0;
        right  : 208px;
        left   : 0;
    }
}

.itemsDiv {
    background-color : var(--white100);
    border-radius : 10px;
    box-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing : -1px;

    .items {
        padding : 48px 36px 48px 60px;
        display: grid;
        min-height: 300px;

    }
}