
 .gameInfoFirstDiv {

    display         : flex;
    justify-content : center;

    .gameInfoButton {
        margin-left     : 10px;
        margin-right    : 10px;
        font-weight     : 800;
        
        .horseList {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .horseWideInfo {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .horseHouseInfo {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .recallHeroWord {
            position : relative;
            left     : -8px;
            top      : 12px;
        }

        .recallHeroRecommand {
            position : relative;
            left     : -8px;
            top      : 8px;
        }

        .recallHeroAmulet {
            position : relative;
            left     : -8px;
            top      : 12px;
        }

        .recallHeroExpiration {
            position : relative;
            left     : -8px;
            top      : 12px;
        }

        .recallHeroList {
            position : relative;
            left     : -8px;
            top      : 12px;
        }
        
        .systemOfKingWordInfo {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .systemOfKingLawInfo {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .systemOfKingMacroPatrol {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .systemOfKingMacoThinking {
            position : relative;
            left     : -8px;
            top      : 10px;
        }

        .craftsManListInfo {
            position : relative;
            left     : -8px;
            top      : 10px;
        }
    }

    a {
        overflow        : hidden;
        position        : relative;
        text-decoration : 0;
        display         : block;
        width           : 240px;
        line-height     : 64px;
        text-align      : center;
        color           : #fff;
        background-color: var(--black200);
        border-color    : #fff;
        border-radius   : 5px;
    }

    .click {
        background-color : #81D2C7;
    }
    

    span {
        display: block;
        letter-spacing: 0.5px;
    }

    .masker {
        position         : absolute;
        bottom           : 0;
        left             : 0;
        right            : 0;
        height           : 0;
        background-color : ghostwhite;
        color            : #000;
        overflow         : hidden;
        transition       : .3s;
    }

    .masker span {
        position    : absolute;
        right       : 0;
        left        : 0;
        bottom      : 0;
        color       : #000;
    }

    a:hover .masker {
        height: 100%;
    }

}