*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin :0;
    padding : 0;
}

fieldset, img, table, button {
    border : 0;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

html,
body, 
div, 
input, 
select, p, dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, button, a, span, table, thead, tbody, td, th,textarea, img, label, section, article, header, footer{box-sizing: border-box;}

html,body {
    letter-spacing : -0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight:400;
}

em,
address {
    font-weight : normal;
    font-style  : normal;
}


a {
    color:inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    outline      : none;
}

ul {
    list-style   : none;
}

article {
    display      : block;
}

section {
    width        : 100%;
}

main {
    display      : block;
    unicode-bidi : isolate;
}

footer {
    width        : 100%;
}

select {
    width         : 100px;
    padding       : 5px;
    border        : 1px solid #999;
    font-family   : 'NanumGothic';
    border-radius : 3px;
}

table {
    border-collapse : collapse;
    width       : 100%;
    font-size   : 12px;
}

caption {
    display       : none;
}

.table tbody tr {
    border-bottom : 1px solid #ebebeb;
}

table td {
    text-align  : left;
}

table thead {
    border-bottom : 1px solid;
}

input[type=text] {
    text-align     : center;
    vertical-align : middle;
    height         : 28px;
    padding        : 0 5px;
    font-weight    : bold;
    transition     : border-color ease-in-out .3s, box-shadow ease-in-out .3s;
}

.in100 {
    width : 100px;
}

.in150 {
    width : 150px;
}

.in200 {
    width : 200px;
}

.select110 {
    width : 110px;
}

button {
    vertical-align : middle;
    cursor: pointer;

}
.search {
    background-image : url(../../image/main_btn_search_h.png),url(../../image/btn_search_b_nml.png);
    background-position: 10px, center;
    background-repeat : no-repeat;
    border : none;
    padding-right:  10px;
    margin-left: 5px;
    color: var(--white);
}

.contenbox .search {
   width : 71px;
   height : 30px;
   padding-left: 20px;
}     

.contenbox .search:hover{ background-image: url(../../image/main_btn_search.png),url(../../image/btn_search_hover.png); background-position:10px,center; background-repeat: no-repeat;}

.contenbox button {
    font-size: 12px;
    border-radius: 2px;
}

.contentbox input, .contentbox textarea, .contentbox select,
.modal-dialog input, .modal-dialog textarea, .modal-dialog select {
    border-bottom: 1px solid #4478a5;
}

.modal-dialog input:disabled {
    border-bottom: 1px solid #595c5e !important;
}

.modal-dialog select {
    background: url(../../image/select_arrow_sb.png) right 50% #3a3b3e no-repeat;
}

.modal-dialog select:disabled {
    background: url(../../image/select_arrow.png) right 50% #3a3b3e no-repeat !important;
    border-bottom: 1px solid #595c5e !important;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

.com {
    background: url(../../image/table_com.png) right center no-repeat;
}

.listBtn{margin: 40px auto; display: block; width: 200px; height: 50px; line-height:50px; text-align: center; color: #fff; background: #667a00; border-radius: 10px; font-size: 15px;}
.listBtn:hover {
    background-color:#24682f;
}

.boardReview {
    width : 100%;
    height : 580px;
    border: 1px solid #ddd;
    border-radius: 10px;
overflow: hidden;
margin-top: 5px;
    .contentHeader {

        display : block;
        position : relative;
        border : 1px solid #ddd;
        padding : 0 10px;
        text-align: left;
        min-height: 16px;
        height : 30px;
        line-height: 30px;
        h2 {
            color : #000;
            font-size: 14px;
            height : 30px;
            line-height: 28px;
            font-weight: 700;
        }
    }

    .contentMain {
        height : 380px;

        ul {
            height : 100%;
            overflow-y : scroll;
        }

        li {
            width  : 100%; 
            font-size:16px; 
            font-weight: bold; 
            padding: 10px 0!important; 
            border: 1px dotted #d7d7d7; 
            position: relative;
            margin-bottom : 5px;

            img {
                margin-top    : 12px;
                margin-left : 10px;
                margin-right : 5px;
            }

            .nickNameSpan {
                padding-top : 19px;
                margin-left : 5px;
            }
        }
        .reviewText {
            height : auto;
            line-height: 23px;
            color : #000;
            padding : 6px 0 6px 10px;
            right : 0px;
            top: 10px;
            bottom : 0;
            left : 57px;
            overflow: hidden;
            display : inline-table;

            .startReviewImgDiv {
                font-size: 14px;
                padding-left : 10px;
                margin-top: 20px;
                img {
                    margin-top   : 0 !important;
                    margin-left  : 0 !important;
                    margin-right : 0 !important;
                }
            }

            .reViewSpan {
                font-size: 13px;
                margin-top : 10px;
                width : 300px;
                margin-left: 5px;
                font-weight: 400 !important;
            }

            .reviewDateDiv {
                display: flex;
                
                button {
                    height: 25px;
                    font-size: 13px;
                    color: #fff;
                    padding: 0 20px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                    background : #c24242;
                    border-radius : 5px;
                    margin-top: 8px;
                }

                .dateSpan {
                    width : 130px !important;
                }
            }

            span {
                font-size: 15px;
                display: flex; 
                width: 100%; 
                overflow: hidden; 
                word-break :break-all;
               
            }
        }
    }
    
    .contentInput {
            border-top: 1px solid #ddd;

            .content {
                padding: 5px;
                line-height: 20px;

                .contentDiv1 {
                    display : flex;
                    justify-content: flex-start;

                    .content_textP2 {
                        color: #979797;
                        font-size : 14px;
                    }

                    .content_star {
                            margin-left: 10px;
                            height: 25px;
                    }

                    .content_star_span {
                        margin-left: 10px;
                    }
                    
                }
            }

            .reviewtextarea {
                width  : 100%;
                height : 90px;
                border-radius : 10px;
                padding : 10px
            }

            button {
                height: 25px;
                font-size: 13px;
                color: #fff;
                padding: 0 20px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                background : #4f5158;
                border-radius : 5px;
                margin-left : 5px;
                margin-top : 5px;
            }

            button:hover {
                background: #5473c3;
            }
            button:active {
                background: #32426c;
            }
        }
}

.location {
    width         : 100%;
    position      : absolute;
    top           : 0px;
    height        : 53px;
    text-align    : left;
    border-top    : 1px solid #ebebeb;
    border-bottom : 1px solid #c1c1c1;
    font-weight   : bold;

    ul {
        width : 1500px;
        margin : 15px auto;
        display : block;

        li {
            float      : left;
            padding    : 0 12px 0 10px;
            color      : #3f4040;
            font-size  : 14px;
            background : url(../../image/dot2.png)right center no-repeat;
           
            a {
                color : #3f4040;
            }
        }
    }
}