:root {
    --mainEng-font: "Verdana";
    --mainKor-font: "Courier New";
    --mainNum-font: "Andale Mono";

    --white    : #fff;
    --black    : #000;
    --black100 : #2b2b2b;
    --black200 : #434343;
    --black300 : #686868;
    --black400 : #e0e0e0;

    --mainBg-Color : #e0e0e0;
    --headBg-Color : #131313;
    --headSubBg-Color : #f4f4f4;

    --footer-Color   : #a1a1a1;
    --footerBg-Color : #3f4144;
}

body {
    background-color: var(--mainBg-Color);
     
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

html {
    display: block;
}